In [1]:
import os
import pandas as pd
import numpy as np
import pickle

C:\Anaconda3\envs\dsmldl\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Anaconda3\envs\dsmldl\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [3]:
files = ['../input/ieee-fraud-detection/test_identity.csv', 
         '../input/ieee-fraud-detection/test_transaction.csv',
         '../input/ieee-fraud-detection/train_identity.csv',
         '../input/ieee-fraud-detection/train_transaction.csv',
         '../input/ieee-fraud-detection/sample_submission.csv']

def load_data(file):
    return reduce_mem_usage(pd.read_csv(file))

In [4]:
test_identity = load_data(files[0])
test_transaction = load_data(files[1])
train_identity = load_data(files[2])
train_transaction = load_data(files[3])

Mem. usage decreased to 25.44 Mb (42.7% reduction)
Mem. usage decreased to 472.59 Mb (68.9% reduction)
Mem. usage decreased to 25.86 Mb (42.7% reduction)
Mem. usage decreased to 542.35 Mb (69.4% reduction)

In [5]:
test_identity = test_identity.set_index(['TransactionID'])
test_transaction = test_transaction.set_index(['TransactionID'])
train_identity = train_identity.set_index(['TransactionID'])
train_transaction = train_transaction.set_index(['TransactionID'])
print(train_identity.shape)
print(train_transaction.shape)
print(test_identity.shape)
print(test_transaction.shape)

(144233, 40)
(590540, 393)
(141907, 40)
(506691, 392)

In [6]:
def check_null_values(df):
    for column in df.columns:
        print('Column Name:', column, '\nHas null values:',df[column].isna().any(), '\nAmount of null values:', df[column].isna().sum())
        print('Values - Count')
        print(df[column].value_counts())
        print()

In [7]:
def replace_null_values(df):
    for column in df.columns:
        if(df[column].isna().any()):
            print(column, df[column].isna().sum())
            def replace():
                global i
                values = df[column].value_counts().index
                counts = df[column].value_counts().values
                counts = counts/counts.sum()
                yield np.random.choice(values,replace=False, p=counts)
            new_value = replace()
            df[column].fillna(value=next(new_value), inplace=True)
    for column in df.columns:
        print(column, df[column].isna().sum())
        if(df[column].isna().any()):
            print('Column:', column, 'has null values')
        else:
            print('No Null values in column')

In [8]:
df_train = train_transaction.join(train_identity, on='TransactionID',how='left', sort=True)
df_test = test_transaction.join(test_identity, on='TransactionID', how='left', sort=True)

In [9]:
print(df_train.shape)
print(df_test.shape)

(590540, 433)
(506691, 432)

In [10]:
del(train_identity)
del(train_transaction)
del(test_identity)
del(test_transaction)

In [11]:
df_train['isFraud'].fillna(value=0.0, inplace=True)
df_test['isFraud'] = -1

In [12]:
print(df_train.shape)
print(df_test.shape)

(590540, 433)
(506691, 433)

In [13]:
df_X = pd.concat([df_train, df_test], axis=0)
print(df_X.shape)

C:\Anaconda3\envs\dsmldl\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

(1097231, 433)

In [14]:
df_X['id_30'].unique()

array([nan, 'Android 7.0', 'iOS 11.1.2', 'Mac OS X 10_11_6', 'Windows 10',
       'Android', 'Linux', 'iOS 11.0.3', 'Mac OS X 10_7_5',
       'Mac OS X 10_12_6', 'Mac OS X 10_13_1', 'iOS 11.1.0',
       'Mac OS X 10_9_5', 'Windows 7', 'Windows 8.1', 'Mac', 'iOS 10.3.3',
       'Mac OS X 10.12', 'Mac OS X 10_10_5', 'Mac OS X 10_11_5',
       'iOS 9.3.5', 'Android 5.1.1', 'Android 7.1.1', 'Android 6.0',
       'iOS 10.3.1', 'Mac OS X 10.9', 'iOS 11.1.1', 'Windows Vista',
       'iOS 10.3.2', 'iOS 11.0.2', 'Mac OS X 10.11', 'Android 8.0.0',
       'iOS 10.2.0', 'iOS 10.2.1', 'iOS 11.0.0', 'Mac OS X 10.10',
       'Mac OS X 10_12_3', 'Mac OS X 10_12', 'Android 6.0.1', 'iOS',
       'Mac OS X 10.13', 'Mac OS X 10_12_5', 'Mac OS X 10_8_5',
       'iOS 11.0.1', 'iOS 10.0.2', 'Android 5.0.2', 'Windows XP',
       'iOS 11.2.0', 'Mac OS X 10.6', 'Windows 8', 'Mac OS X 10_6_8',
       'Mac OS X 10_11_4', 'Mac OS X 10_12_1', 'iOS 10.1.1',
       'Mac OS X 10_11_3', 'Mac OS X 10_12_4', 'Mac OS X 10_13_2',
       'Android 4.4.2', 'Mac OS X 10_12_2', 'Android 5.0', 'func',
       'Android 7.1.2', 'Android 8.1.0', 'other', 'Mac OS X 10_13_3',
       'iOS 11.2.1', 'iOS 11.2.5', 'Windows', 'iOS 11.2.2', 'iOS 11.3.0',
       'iOS 11.2.6', 'Mac OS X 10_13_4', 'Mac OS X 10_13_5', 'iOS 11.4.0',
       'iOS 11.3.1', 'iOS 11.4.1', 'Android 9', 'iOS 12.0.0',
       'Mac OS X 10_13_6', 'Mac OS X 10.14', 'Mac OS X 10_14_0',
       'Mac OS X 10_14', 'iOS 12.1.0', 'Mac OS X 10_14_1', 'iOS 12.0.1',
       'iOS 12.1.1', 'Mac OS X 10_14_2', 'iOS 12.1.2'], dtype=object)

In [15]:
df_X['id_30'].replace(to_replace=r'(^Windows).*$', value='Windows', regex=True, inplace=True)
df_X['id_30'].replace(to_replace=r'(^Android).*$', value='Android', regex=True, inplace=True)
df_X['id_30'].replace(to_replace=r'(^iOS).*$', value='iOS', regex=True, inplace=True)
df_X['id_30'].replace(to_replace=r'(^Mac).*$', value='Mac', regex=True, inplace=True)
df_X['id_30'].unique()

array([nan, 'Android', 'iOS', 'Mac', 'Windows', 'Linux', 'func', 'other'],
      dtype=object)

In [16]:
df_X['id_31'].unique()

array([nan, 'samsung browser 6.2', 'mobile safari 11.0', 'chrome 62.0',
       'chrome 62.0 for android', 'edge 15.0', 'mobile safari generic',
       'chrome 49.0', 'chrome 61.0', 'edge 16.0', 'safari generic',
       'edge 14.0', 'chrome 56.0 for android', 'firefox 57.0',
       'chrome 54.0 for android', 'mobile safari uiwebview', 'chrome',
       'chrome 62.0 for ios', 'firefox', 'chrome 60.0 for android',
       'mobile safari 10.0', 'chrome 61.0 for android',
       'ie 11.0 for desktop', 'ie 11.0 for tablet', 'mobile safari 9.0',
       'chrome generic', 'other', 'chrome 59.0 for android',
       'firefox 56.0', 'android webview 4.0', 'chrome 55.0', 'opera 49.0',
       'ie', 'chrome 55.0 for android', 'firefox 52.0',
       'chrome 57.0 for android', 'chrome 56.0',
       'chrome 46.0 for android', 'chrome 58.0', 'firefox 48.0',
       'chrome 59.0', 'samsung browser 4.0', 'edge 13.0',
       'chrome 53.0 for android', 'chrome 58.0 for android',
       'chrome 60.0', 'mobile safari 8.0', 'firefox generic',
       'Generic/Android 7.0', 'mobile', 'Samsung/SM-G532M',
       'chrome 50.0 for android', 'chrome 51.0 for android',
       'chrome 63.0', 'chrome 52.0 for android', 'chrome 51.0',
       'firefox 55.0', 'edge', 'opera', 'chrome generic for android',
       'aol', 'samsung browser 5.4', 'Samsung/SCH', 'silk', 'chrome 57.0',
       'firefox 47.0', 'chrome 63.0 for android', 'Samsung/SM-G531H',
       'chrome 43.0 for android', 'waterfox', 'Nokia/Lumia',
       'chrome 63.0 for ios', 'puffin', 'Microsoft/Windows', 'cyberfox',
       'Generic/Android', 'samsung', 'opera generic',
       'chrome 49.0 for android', 'ZTE/Blade', 'safari',
       'android browser 4.0', 'samsung browser 5.2', 'palemoon',
       'maxthon', 'line', 'LG/K-200', 'iron', 'BLU/Dash', 'seamonkey',
       'firefox 58.0', 'chrome 64.0 for android', 'chrome 64.0',
       'firefox 59.0', 'chrome 64.0 for ios', 'M4Tel/M4', 'comodo',
       'Lanix/Ilium', 'samsung browser generic', 'chromium', 'opera 51.0',
       'Inco/Minion', 'samsung browser 7.0', 'Mozilla/Firefox',
       'samsung browser 4.2', 'samsung browser 6.4', 'chrome 65.0',
       'chrome 65.0 for android', 'chrome 65.0 for ios', 'Cherry',
       'icedragon', 'android', 'edge 17.0', 'chrome 66.0',
       'chrome 66.0 for android', 'safari 11.0', 'safari 9.0',
       'safari 10.0', 'google', 'chrome 66.0 for ios',
       'google search application 48.0', 'opera 52.0', 'firefox 60.0',
       'opera 53.0', 'samsung browser 3.3',
       'google search application 49.0', 'facebook',
       'firefox mobile 61.0', 'chrome 67.0', 'chrome 69.0',
       'chrome 67.0 for android', 'firefox 61.0', 'samsung browser 7.2',
       'chrome 67.0 for ios', 'google search application 52.0',
       'firefox 62.0', 'mobile safari 12.0', 'chrome 68.0', 'opera 54.0',
       'firefox mobile 62.0', 'google search application 54.0',
       'safari 12.0', 'chrome 68.0 for android', 'chrome 68.0 for ios',
       'chrome 39.0 for android', 'chrome 70.0', 'rim',
       'chrome 69.0 for android', 'google search application 56.0',
       'samsung browser 7.4', 'opera 55.0', 'firefox 63.0',
       'google search application 58.0', 'chrome 69.0 for ios',
       'chrome 70.0 for android', 'uc', 'google search application 59.0',
       'opera 56.0', 'chrome 71.0', 'google search application 60.0',
       'edge 18.0', 'chrome 70.0 for ios', 'firefox mobile 63.0',
       'google search application 61.0', 'firefox 64.0',
       'google search application 62.0', 'chrome 71.0 for android',
       'google search application 63.0', 'chrome 71.0 for ios',
       'google search application 64.0', 'samsung browser 8.2',
       'google search application 65.0', 'blackberry'], dtype=object)

In [17]:
df_X['id_31'].replace(to_replace=r'^(chrome).*$', value='chrome', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^([s|S]amsung).*$', value='samsung', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^(safari).*$', value='safari', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^.*\s(safari).*$', value='safari', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^(edge).*$', value='edge', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^(ie).*$', value='ie', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^(firefox).*$', value='firefox', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^(Mozilla).*$', value='firefox', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^(android).*$', value='android', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^(opera).*$', value='opera', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^(Generic).*$', value='android', regex=True, inplace=True)
df_X['id_31'].replace(to_replace=r'^(google).*$', value='google', regex=True, inplace=True)
df_X['id_31'].unique()

array([nan, 'samsung', 'safari', 'chrome', 'edge', 'firefox', 'ie',
       'other', 'android', 'opera', 'mobile', 'aol', 'silk', 'waterfox',
       'Nokia/Lumia', 'puffin', 'Microsoft/Windows', 'cyberfox',
       'ZTE/Blade', 'palemoon', 'maxthon', 'line', 'LG/K-200', 'iron',
       'BLU/Dash', 'seamonkey', 'M4Tel/M4', 'comodo', 'Lanix/Ilium',
       'chromium', 'Inco/Minion', 'Cherry', 'icedragon', 'google',
       'facebook', 'rim', 'uc', 'blackberry'], dtype=object)

In [18]:
df_X['id_33'].unique()

array([nan, '2220x1080', '1334x750', '1280x800', '1366x768', '1920x1080',
       '1680x1050', '1136x640', '5120x2880', '2880x1800', '1920x1200',
       '2560x1600', '2048x1536', '1024x768', '1280x720', '2560x1440',
       '2208x1242', '2001x1125', '1440x900', '1600x900', '2672x1440',
       '1280x1024', '960x540', '2732x2048', '2436x1125', '2048x1152',
       '2960x1440', '1024x600', '855x480', '4096x2304', '2160x1440',
       '2562x1442', '801x480', '2736x1824', '3441x1440', '2880x1620',
       '3840x2160', '1638x922', '1280x768', '1360x768', '1280x960',
       '3440x1440', '1152x720', '1280x1025', '3360x2100', '2304x1296',
       '1152x864', '3200x1800', '2112x1188', '2224x1668', '2400x1350',
       '2000x1125', '1600x1000', '2560x1080', '1728x972', '3000x2000',
       '1024x640', '3840x2400', '2304x1440', '1280x600', '1400x1050',
       '1600x1200', '3201x1800', '1356x900', '1344x756', '1624x1080',
       '1536x864', '1800x1125', '1920x1281', '2961x1442', '1366x1024',
       '1344x840', '3360x1890', '1536x1152', '1200x675', '1480x720',
       '2400x1600', '3200x2000', '1281x801', '960x640', '1776x1000',
       '2048x1280', '2049x1152', '1138x640', '2160x1215', '2880x1440',
       '0x0', '2520x1575', '5760x3240', '3843x2163', '1184x720',
       '1440x810', '2076x1080', '1600x837', '1093x615', '1281x721',
       '1152x648', '2392x1440', '2048x1080', '2735x1825', '1680x945',
       '1805x1015', '5760x1080', '2816x1584', '4500x3000', '1684x947',
       '1440x960', '1364x768', '3072x1728', '5040x3150', '7500x5000',
       '768x576', '1768x992', '1658x946', '1200x720', '1239x697',
       '1188x720', '1232x800', '1920x1280', '1264x924', '1400x900',
       '3240x2160', '2961x1440', '1422x889', '1848x1155', '3360x1050',
       '3840x1080', '2010x1080', '2160x1350', '1440x720', '1280x712',
       '1512x945', '1296x774', '1368x768', '3520x1980', '800x600',
       '1700x960', '2560x1800', '6400x3600', '2368x1440', '1824x1026',
       '1912x1025', '600x450', '3840x1600', '1760x990', '2700x1800',
       '1371x857', '1776x1080', '2552x1337', '3600x2250', '2560x1700',
       '2816x1760', '1440x800', '1440x803', '1920x1018', '6016x3384',
       '1280x620', '1281x720', '1720x1440', '1408x880', '640x360',
       '1920x975', '976x600', '1062x630', '2800x1575', '6720x3780',
       '1440x759', '1120x700', '1921x1081', '1280x1023', '1279x1023',
       '1441x901', '1679x1049', '1680x1051', '2220x1081', '1920x1079',
       '1919x1199', '1680x1049', '1365x768', '1919x1079', '1919x1200',
       '1919x1080', '1366x767', '1584x990', '2880x1442', '1281x800',
       '1229x691', '1600x1024', '1600x899', '1536x960', '1502x844',
       '1920x1201', '1439x809', '1408x792', '1279x1024', '1599x900',
       '1920x1081', '921x691', '3841x2161', '1921x1080', '480x320',
       '1888x941', '2049x1536', '2160x1439', '1707x960', '1024x767',
       '1365x767', '3001x2000', '3839x2160', '1916x901', '3838x2158',
       '1599x899', '3199x1800', '1511x944', '2737x1825', '2736x1823',
       '2735x1823', '2559x1439', '2400x1500', '2882x1442', '1729x973',
       '1727x971', '1023x767', '1918x1080', '1439x900', '4499x2999',
       '1280x740', '2999x2000', '1024x552', '1440x899', '2255x1503',
       '1025x768', '1280x732', '3839x2159', '3840x2162', '3696x2310',
       '2159x1439', '2256x1504', '1439x899', '2159x1440', '1359x768',
       '1092x614', '2048x1278', '2591x1619', '4200x2625', '2710x1440',
       '1272x960', '1023x768', '3838x2160', '2100x1312', '1360x767',
       '1024x819', '1502x845', '2561x1442', '2559x1440', '2160x1081',
       '1920x1279', '2160x1080', '1596x710', '1496x844', '1280x900',
       '2047x1152', '2094x1080', '1800x1440', '993x664', '1622x1081',
       '1360x765', '1280x799', '1279x800', '1920x983', '888x540',
       '1722x1440', '1679x1050', '2791x1440', '1921x1200', '6144x3456',
       '2699x1799', '4096x3072', '4608x2592', '910x512', '2257x1505',
       '1536x1024', '1208x720', '1842x1047', '2462x1641', '1920x1199',
       '1601x900', '1368x912', '2112x1320', '1265x948', '1359x767',
       '1920x1017', '1681x1050', '3241x2161', '3011x2007', '2188x1459',
       '1599x1200', '1500x1000', '2560x1313', '1920x1440', '2703x1441',
       '1151x921', '3000x1687', '1151x863', '1480x721', '792x480',
       '3521x1980', '1279x767', '3200x1801', '2560x1439', '1272x952',
       '1600x901', '2255x1504', '1862x1048', '3840x2159', '3168x1980',
       '3439x1440', '2560x1441', '800x480', '3200x1799', '3840x2161',
       '1364x767', '3000x1999', '2688x1242', '1080x675', '2735x1824',
       '2303x1295', '1592x828', '3122x1442', '2560x1599', '3239x2159',
       '1281x1024', '1466x403', '4096x2160', '1727x1079', '1231x358',
       '3584x2016', '2390x1344', '3839x2158', '2281x1081', '1152x672',
       '2401x1350', '2560x1079', '2161x1080', '1366x766', '683x384',
       '1720x947', '1024x576', '4320x2700', '2341x1081', '1537x865',
       '1792x828', '960x480', '3280x2048', '1408x844', '1021x669',
       '1800x1200', '3120x1440', '1919x1279', '1279x799', '2556x1248',
       '1000x798', '1600x1280', '1296x810', '3199x1799', '2562x1314',
       '1624x750', '1416x805', '1920x1128', '2399x1598', '3840x1599',
       '1918x1078', '2388x1668', '2592x1728', '2562x1441', '1792x768',
       '3201x1799', '1679x987', '3841x2401', '1794x1080', '1279x720',
       '2960x1442', '1501x844', '1918x1347', '2950x1440', '1024x820',
       '1366x769', '2401x1351', '1600x868', '1280x801', '1264x945',
       '1279x719', '4800x2700', '1151x864', '2880x1920', '960x600',
       '2696x1440', '5960x1080', '2241x1081', '7680x4320', '2303x1439',
       '1025x640', '2399x1348', '8640x1620', '2048x1151', '1399x1050',
       '1920x974', '4225x2377', '2680x1440', '1223x691', '2047x1279',
       '1279x768', '1621x1081', '1152x922', '1260x787', '1669x942',
       '3123x1440', '2463x1642', '1361x768', '2048x1537', '8960x5040',
       '1500x840', '2559x1080', '1408x1127', '1416x758', '2560x1418',
       '1926x921', '1268x862', '3784x1584', '4500x3001', '2398x1599',
       '1344x720', '2559x1599', '2133x1080', '1919x1280', '2340x1080',
       '2999x1998', '1151x719', '2160x1920', '2052x1368', '4300x1800',
       '1501x843', '2559x1079', '1281x769', '1408x1126', '1680x1018',
       '2162x1081', '455x256', '2646x1440', '2562x1440', '2789x1442',
       '2241x1080', '3839x1599', '1280x767', '2561x1312', '2162x1082',
       '2768x1440', '3239x2160', '2341x1080', '2928x1440', '1767x991',
       '2734x1824'], dtype=object)

In [19]:
def mod(x):
    if type(x) == type(''):
        x = x.split(sep='x')
        x = int(x[0])*int(x[1])
        return x
    else:
        return np.nan

In [20]:
df_X['id_33'] = df_X['id_33'].map(mod)
df_X['id_33'].value_counts()

2073600.0     33742
1049088.0     15046
1000500.0     11550
2742336.0      9113
1296000.0      8127
              ...
4986816.0         1
1329505.0         1
4855501.0         1
33177600.0        1
9222241.0         1
Name: id_33, Length: 455, dtype: int64

In [21]:
df_X['P_emaildomain'].replace(to_replace=r'(\.\w+)+$', value='', regex=True, inplace=True)
df_X['P_emaildomain'].unique()

array([nan, 'gmail', 'outlook', 'yahoo', 'mail', 'anonymous', 'hotmail',
       'verizon', 'aol', 'me', 'comcast', 'optonline', 'cox', 'charter',
       'rocketmail', 'prodigy', 'embarqmail', 'icloud', 'live', 'att',
       'juno', 'ymail', 'sbcglobal', 'bellsouth', 'msn', 'q',
       'centurylink', 'servicios-ta', 'earthlink', 'cfl', 'roadrunner',
       'netzero', 'gmx', 'suddenlink', 'frontiernet', 'windstream',
       'frontier', 'mac', 'aim', 'web', 'twc', 'cableone', 'sc', 'ptd',
       'protonmail', 'scranton'], dtype=object)

In [22]:
df_X['R_emaildomain'].replace(to_replace=r'(\.\w+)+$', value='', regex=True, inplace=True)
df_X['R_emaildomain'].unique()

array([nan, 'gmail', 'hotmail', 'outlook', 'anonymous', 'charter',
       'prodigy', 'comcast', 'live', 'icloud', 'yahoo', 'aol', 'juno',
       'att', 'verizon', 'bellsouth', 'servicios-ta', 'ymail', 'msn',
       'optonline', 'gmx', 'aim', 'mail', 'me', 'cox', 'earthlink',
       'embarqmail', 'web', 'sbcglobal', 'scranton', 'mac', 'twc',
       'roadrunner', 'frontiernet', 'q', 'windstream', 'suddenlink',
       'ptd', 'frontier', 'cfl', 'netzero', 'rocketmail', 'centurylink',
       'protonmail', 'cableone', 'sc'], dtype=object)

In [23]:
df_X['DeviceInfo'].value_counts()

Windows           92710
iOS Device        38502
MacOS             23722
Trident/7.0       12330
rv:11.0            2650
                  ...
SM-G531F              1
Azumi_IRO_A5_Q        1
LG-US998              1
G25524K               1
HT0703K16             1
Name: DeviceInfo, Length: 2799, dtype: int64

In [24]:
df_X.drop(columns=['DeviceInfo'], inplace=True)

In [25]:
check_null_values(df_X)

Column Name: C1
Has null values: True
Amount of null values: 3
Values - Count
1.0       586742
2.0       197520
3.0        96569
4.0        53794
5.0        32851
           ...
1393.0         1
3734.0         1
1389.0         1
1388.0         1
1237.0         1
Name: C1, Length: 1964, dtype: int64

Column Name: C10
Has null values: True
Amount of null values: 3
Values - Count
0.0       824420
1.0       192574
2.0        32690
3.0        13286
4.0         6838
           ...
1205.0         1
1203.0         1
1886.0         1
279.0          1
1839.0         1
Name: C10, Length: 1278, dtype: int64

Column Name: C11
Has null values: True
Amount of null values: 3
Values - Count
1.0       731792
2.0       168780
3.0        61642
4.0        28478
5.0        16366
           ...
1003.0         1
1000.0         1
999.0          1
998.0          1
511.0          1
Name: C11, Length: 1677, dtype: int64

Column Name: C12
Has null values: True
Amount of null values: 3
Values - Count
0.0       856080
1.0       185008
2.0        30046
3.0         9165
4.0         3780
           ...
1336.0         1
2606.0         1
2610.0         1
1331.0         1
1736.0         1
Name: C12, Length: 1373, dtype: int64

Column Name: C13
Has null values: True
Amount of null values: 4748
Values - Count
1.0       367617
2.0       107563
0.0        65238
3.0        60635
4.0        42944
           ...
1460.0         1
1451.0         1
1450.0         1
1448.0         1
1398.0         1
Name: C13, Length: 1558, dtype: int64

Column Name: C14
Has null values: True
Amount of null values: 3
Values - Count
1.0       598520
2.0       175757
3.0        82915
0.0        70511
4.0        46464
           ...
1134.0         1
1131.0         1
1129.0         1
1127.0         1
1213.0         1
Name: C14, Length: 1150, dtype: int64

Column Name: C2
Has null values: True
Amount of null values: 3
Values - Count
1.0       581696
2.0       197032
3.0        96037
4.0        52580
5.0        31682
           ...
1279.0         1
1278.0         1
1277.0         1
1273.0         1
1511.0         1
Name: C2, Length: 1706, dtype: int64

Column Name: C3
Has null values: True
Amount of null values: 3
Values - Count
0.0     1081890
1.0       14643
2.0         500
3.0          95
4.0          18
5.0           8
9.0           8
16.0          7
11.0          6
10.0          4
13.0          4
14.0          4
7.0           3
12.0          3
15.0          3
17.0          3
18.0          2
30.0          2
28.0          2
19.0          2
20.0          2
21.0          2
22.0          2
23.0          2
24.0          2
8.0           2
25.0          2
6.0           2
26.0          2
29.0          1
27.0          1
31.0          1
Name: C3, dtype: int64

Column Name: C4
Has null values: True
Amount of null values: 3
Values - Count
0.0       823454
1.0       219643
2.0        26696
3.0         9256
4.0         3661
           ...
1395.0         1
204.0          1
205.0          1
1348.0         1
511.0          1
Name: C4, Length: 1495, dtype: int64

Column Name: C5
Has null values: True
Amount of null values: 3
Values - Count
0.0      707008
1.0      219471
2.0       64139
3.0       23888
4.0       12274
          ...
305.0         3
328.0         2
333.0         2
334.0         2
327.0         1
Name: C5, Length: 353, dtype: int64

Column Name: C6
Has null values: True
Amount of null values: 3
Values - Count
1.0       631237
2.0       161419
0.0        94773
3.0        67305
4.0        34225
           ...
1835.0         1
1838.0         1
1076.0         1
1071.0         1
511.0          1
Name: C6, Length: 1537, dtype: int64

Column Name: C7
Has null values: True
Amount of null values: 3
Values - Count
0.0       961237
1.0       102107
2.0        16026
3.0         4767
4.0         2453
           ...
1521.0         1
1519.0         1
290.0          1
292.0          1
511.0          1
Name: C7, Length: 1301, dtype: int64

Column Name: C8
Has null values: True
Amount of null values: 3
Values - Count
0.0       816304
1.0       202326
2.0        34188
3.0        12294
4.0         5989
           ...
1448.0         1
1447.0         1
1445.0         1
1444.0         1
1672.0         1
Name: C8, Length: 1296, dtype: int64

Column Name: C9
Has null values: True
Amount of null values: 3
Values - Count
1.0      420354
0.0      341561
2.0      146643
3.0       64015
4.0       31672
          ...
259.0         1
359.0         1
569.0         1
568.0         1
302.0         1
Name: C9, Length: 360, dtype: int64

Column Name: D1
Has null values: True
Amount of null values: 7300
Values - Count
0.0      507854
1.0       16887
2.0        9974
3.0        8038
4.0        6965
          ...
557.0       278
593.0       276
591.0       273
640.0        67
641.0         1
Name: D1, Length: 642, dtype: int64

Column Name: D10
Has null values: True
Amount of null values: 88567
Values - Count
0.0       449929
1.0         9484
2.0         6264
3.0         4925
7.0         4557
           ...
1033.0         1
1047.0         1
1048.0         1
1059.0         1
1088.0         1
Name: D10, Length: 1075, dtype: int64

Column Name: D11
Has null values: True
Amount of null values: 455805
Values - Count
 0.0     205406
 1.0       6977
 2.0       4354
 3.0       3531
 7.0       3203
          ...
-15.0         1
-28.0         1
-7.0          1
-29.0         1
-13.0         1
Name: D11, Length: 887, dtype: int64

Column Name: D12
Has null values: True
Amount of null values: 963260
Values - Count
0.0      83611
1.0       3569
2.0       2090
3.0       1695
4.0       1362
         ...
827.0        1
826.0        1
824.0        1
822.0        1
864.0        1
Name: D12, Length: 868, dtype: int64

Column Name: D13
Has null values: True
Amount of null values: 911895
Values - Count
0.0      150227
1.0        3200
2.0        1917
3.0        1374
4.0        1068
          ...
969.0         1
617.0         1
705.0         1
968.0         1
817.0         1
Name: D13, Length: 827, dtype: int64

Column Name: D14
Has null values: True
Amount of null values: 919850
Values - Count
0.0       134766
1.0         2849
2.0         1235
3.0          805
4.0          791
           ...
1046.0         1
887.0          1
1044.0         1
999.0          1
988.0          1
Name: D14, Length: 1036, dtype: int64

Column Name: D15
Has null values: True
Amount of null values: 101182
Values - Count
0.0       357966
1.0        12138
2.0         7484
3.0         5984
4.0         5320
           ...
1061.0         1
1064.0         1
1066.0         1
1073.0         1
1037.0         1
Name: D15, Length: 1091, dtype: int64

Column Name: D2
Has null values: True
Amount of null values: 515566
Values - Count
0.0      27068
1.0      13121
2.0       8899
3.0       7506
7.0       6529
         ...
593.0      253
572.0      253
557.0      252
640.0       61
641.0        1
Name: D2, Length: 642, dtype: int64

Column Name: D3
Has null values: True
Amount of null values: 466020
Values - Count
0.0       146326
1.0        41534
2.0        26892
7.0        24762
3.0        21012
           ...
823.0          1
824.0          1
827.0          1
830.0          1
1013.0         1
Name: D3, Length: 888, dtype: int64

Column Name: D4
Has null values: True
Amount of null values: 245773
Values - Count
0.0       344849
1.0        11065
2.0         6887
3.0         5443
4.0         4813
           ...
1058.0         1
1061.0         1
954.0          1
1066.0         1
1004.0         1
Name: D4, Length: 1069, dtype: int64

Column Name: D5
Has null values: True
Amount of null values: 534216
Values - Count
0.0       139264
1.0        30924
2.0        20432
7.0        18837
3.0        15964
           ...
829.0          1
831.0          1
835.0          1
916.0          1
1071.0         1
Name: D5, Length: 961, dtype: int64

Column Name: D6
Has null values: True
Amount of null values: 899261
Values - Count
 0.0       128902
 1.0         4063
 2.0         2337
 3.0         1834
 4.0         1506
            ...
-83.0           1
 1028.0         1
 1031.0         1
 1039.0         1
 823.0          1
Name: D6, Length: 1076, dtype: int64

Column Name: D7
Has null values: True
Amount of null values: 998181
Values - Count
0.0       53074
1.0        4585
2.0        2848
3.0        2087
4.0        1605
          ...
1071.0        1
1070.0        1
758.0         1
1058.0        1
931.0         1
Name: D7, Length: 905, dtype: int64

Column Name: D8
Has null values: True
Amount of null values: 947967
Values - Count
0.791504      2614
0.833496      2609
0.875000      2603
0.958496      2480
0.916504      2391
              ...
174.250000       1
35.406250        1
110.250000       1
43.281250        1
85.250000        1
Name: D8, Length: 5828, dtype: int64

Column Name: D9
Has null values: True
Amount of null values: 947967
Values - Count
0.791504    10499
0.708496    10238
0.833496    10212
0.750000    10180
0.666504    10090
0.875000     9662
0.916504     9197
0.625000     8795
0.958496     8590
0.000000     8252
0.041656     7869
0.083313     7567
0.583496     7425
0.125000     6842
0.166626     5546
0.541504     4720
0.208374     3752
0.500000     2624
0.250000     2213
0.458252     1528
0.291748     1225
0.416748      818
0.333252      799
0.375000      621
Name: D9, dtype: int64

Column Name: DeviceType
Has null values: True
Amount of null values: 819490
Values - Count
desktop    159568
mobile     118173
Name: DeviceType, dtype: int64

Column Name: M1
Has null values: True
Amount of null values: 447739
Values - Count
T    649436
F        56
Name: M1, dtype: int64

Column Name: M2
Has null values: True
Amount of null values: 447739
Values - Count
T    588323
F     61169
Name: M2, dtype: int64

Column Name: M3
Has null values: True
Amount of null values: 447739
Values - Count
T    518244
F    131248
Name: M3, dtype: int64

Column Name: M4
Has null values: True
Amount of null values: 519189
Values - Count
M0    357789
M2    122947
M1     97306
Name: M4, dtype: int64

Column Name: M5
Has null values: True
Amount of null values: 660114
Values - Count
F    240155
T    196962
Name: M5, dtype: int64

Column Name: M6
Has null values: True
Amount of null values: 328299
Values - Count
F    419433
T    349499
Name: M6, dtype: int64

Column Name: M7
Has null values: True
Amount of null values: 581283
Values - Count
F    444604
T     71344
Name: M7, dtype: int64

Column Name: M8
Has null values: True
Amount of null values: 581256
Values - Count
F    323650
T    192325
Name: M8, dtype: int64

Column Name: M9
Has null values: True
Amount of null values: 581256
Values - Count
T    441935
F     74040
Name: M9, dtype: int64

Column Name: P_emaildomain
Has null values: True
Amount of null values: 163648
Values - Count
gmail           436796
yahoo           186568
hotmail          87414
anonymous        71062
aol              52337
comcast          14474
icloud           12316
outlook          10797
att               7647
msn               7480
live              7296
sbcglobal         5767
verizon           5011
ymail             4075
bellsouth         3437
me                2713
cox               2657
optonline         1937
charter           1443
mail              1156
rocketmail        1105
earthlink          979
mac                862
netzero            706
frontier           594
roadrunner         583
juno               574
windstream         552
web                518
aim                468
embarqmail         464
twc                439
frontiernet        397
centurylink        386
q                  362
suddenlink         323
cfl                318
cableone           311
prodigy            303
gmx                298
sc                 277
protonmail         159
ptd                140
servicios-ta        80
scranton             2
Name: P_emaildomain, dtype: int64

Column Name: ProductCD
Has null values: False
Amount of null values: 0
Values - Count
W    800657
C    137785
R     73346
H     62397
S     23046
Name: ProductCD, dtype: int64

Column Name: R_emaildomain
Has null values: True
Amount of null values: 824070
Values - Count
gmail           119081
hotmail          54875
anonymous        39644
yahoo            24912
aol               7239
outlook           5864
comcast           3513
live              3013
icloud            2820
msn               1698
verizon           1202
sbcglobal         1163
me                1095
att                870
cox                854
bellsouth          795
web                514
mac                430
ymail              405
optonline          350
mail               341
prodigy            303
gmx                297
charter            263
earthlink          170
embarqmail         140
rocketmail         126
juno               111
frontier           110
windstream         104
roadrunner         101
servicios-ta        80
aim                 77
protonmail          75
ptd                 70
scranton            69
twc                 61
cfl                 57
suddenlink          55
cableone            46
q                   45
netzero             43
frontiernet         38
centurylink         28
sc                  14
Name: R_emaildomain, dtype: int64

Column Name: TransactionAmt
Has null values: False
Amount of null values: 0
Values - Count
59.000000      57962
117.000000     54763
107.937500     44228
57.937500      43673
100.000000     37958
               ...
3940.000000        1
6452.000000        1
12.796875          1
3.521484           1
13.312500          1
Name: TransactionAmt, Length: 9131, dtype: int64

Column Name: TransactionDT
Has null values: False
Amount of null values: 0
Values - Count
9474817     8
7236588     5
11576951    5
4397066     5
1962054     4
           ..
322107      1
6617657     1
33851959    1
33856053    1
8388608     1
Name: TransactionDT, Length: 1068035, dtype: int64

Column Name: V1
Has null values: True
Amount of null values: 455805
Values - Count
1.0    641408
0.0        18
Name: V1, dtype: int64

Column Name: V10
Has null values: True
Amount of null values: 455805
Values - Count
0.0    353655
1.0    280858
2.0      6463
3.0       426
4.0        23
5.0         1
Name: V10, dtype: int64

Column Name: V100
Has null values: True
Amount of null values: 314
Values - Count
0.0     922414
1.0     116764
2.0      31133
3.0      12640
4.0       7276
5.0       1996
6.0       1086
7.0        977
10.0       852
9.0        533
8.0        516
11.0       127
12.0        99
13.0        69
18.0        63
19.0        56
14.0        53
20.0        47
17.0        45
16.0        42
21.0        38
15.0        34
22.0        15
23.0        13
28.0         7
27.0         7
24.0         7
25.0         4
26.0         2
29.0         1
30.0         1
Name: V100, dtype: int64

Column Name: V101
Has null values: True
Amount of null values: 314
Values - Count
0.0      1037757
1.0        34579
2.0        12326
3.0         5302
4.0         2556
          ...
869.0          1
832.0          1
608.0          1
470.0          1
511.0          1
Name: V101, Length: 870, dtype: int64

Column Name: V102
Has null values: True
Amount of null values: 314
Values - Count
0.0       1003636
1.0         42566
2.0         18466
3.0          9400
4.0          5640
           ...
560.0           1
119.0           1
120.0           1
121.0           1
1132.0          1
Name: V102, Length: 1285, dtype: int64

Column Name: V103
Has null values: True
Amount of null values: 314
Values - Count
0.0      1023514
1.0        37157
2.0        15057
3.0         7282
4.0         4071
          ...
100.0          1
880.0          1
99.0           1
98.0           1
288.0          1
Name: V103, Length: 928, dtype: int64

Column Name: V104
Has null values: True
Amount of null values: 314
Values - Count
0.0     1042269
1.0       40443
2.0        8672
3.0        2451
11.0       1032
4.0         831
5.0         352
15.0        219
6.0         188
7.0         117
8.0          88
12.0         81
9.0          40
10.0         36
14.0         23
13.0         11
16.0          4
18.0          4
17.0          4
19.0          3
20.0          3
21.0          3
23.0          2
22.0          2
24.0          2
25.0          2
33.0          2
41.0          1
46.0          1
45.0          1
44.0          1
43.0          1
42.0          1
35.0          1
40.0          1
39.0          1
38.0          1
37.0          1
36.0          1
34.0          1
47.0          1
31.0          1
32.0          1
49.0          1
29.0          1
28.0          1
27.0          1
26.0          1
48.0          1
30.0          1
58.0          1
57.0          1
56.0          1
55.0          1
54.0          1
53.0          1
52.0          1
51.0          1
50.0          1
59.0          1
Name: V104, dtype: int64

Column Name: V105
Has null values: True
Amount of null values: 314
Values - Count
0.0     1008297
1.0       58315
2.0       16070
3.0        5657
4.0        2401
         ...
76.0          2
80.0          2
79.0          2
85.0          2
78.0          2
Name: V105, Length: 100, dtype: int64

Column Name: V106
Has null values: True
Amount of null values: 314
Values - Count
0.0     1031045
1.0       46274
2.0       11295
3.0        3458
4.0        1326
         ...
60.0          1
59.0          1
58.0          1
57.0          1
69.0          1
Name: V106, Length: 81, dtype: int64

Column Name: V107
Has null values: True
Amount of null values: 314
Values - Count
1.0    1096669
0.0        248
Name: V107, dtype: int64

Column Name: V108
Has null values: True
Amount of null values: 314
Values - Count
1.0    1090712
2.0       5559
3.0        288
0.0        252
4.0         74
5.0         18
6.0          7
7.0          5
8.0          2
Name: V108, dtype: int64

Column Name: V109
Has null values: True
Amount of null values: 314
Values - Count
1.0    1078363
2.0      17825
3.0        553
4.0         81
0.0         63
5.0         18
6.0          7
7.0          5
8.0          2
Name: V109, dtype: int64

Column Name: V11
Has null values: True
Amount of null values: 455805
Values - Count
0.0    352082
1.0    275480
2.0     11973
3.0      1483
4.0       379
5.0        21
6.0         6
7.0         2
Name: V11, dtype: int64

Column Name: V110
Has null values: True
Amount of null values: 314
Values - Count
1.0    1087162
2.0       9130
3.0        342
0.0        177
4.0         74
5.0         18
6.0          7
7.0          5
8.0          2
Name: V110, dtype: int64

Column Name: V111
Has null values: True
Amount of null values: 314
Values - Count
1.0    1093385
2.0       2859
3.0        309
0.0        252
4.0         74
5.0         23
6.0          5
9.0          4
8.0          3
7.0          3
Name: V111, dtype: int64

Column Name: V112
Has null values: True
Amount of null values: 314
Values - Count
1.0    1090288
2.0       6111
3.0        341
4.0         76
0.0         63
5.0         23
6.0          5
9.0          4
8.0          3
7.0          3
Name: V112, dtype: int64

Column Name: V113
Has null values: True
Amount of null values: 314
Values - Count
1.0    1092554
2.0       3748
3.0        326
0.0        177
4.0         74
5.0         23
6.0          5
9.0          4
8.0          3
7.0          3
Name: V113, dtype: int64

Column Name: V114
Has null values: True
Amount of null values: 314
Values - Count
1.0    1085144
2.0      10726
3.0        593
0.0        253
4.0        130
5.0         41
6.0         19
8.0          5
7.0          4
9.0          2
Name: V114, dtype: int64

Column Name: V115
Has null values: True
Amount of null values: 314
Values - Count
1.0    1058635
2.0      35836
3.0       2042
4.0        260
0.0         64
5.0         50
6.0         19
8.0          5
7.0          4
9.0          2
Name: V115, dtype: int64

Column Name: V116
Has null values: True
Amount of null values: 314
Values - Count
1.0    1077889
2.0      17717
3.0        906
0.0        178
4.0        154
5.0         43
6.0         19
8.0          5
7.0          4
9.0          2
Name: V116, dtype: int64

Column Name: V117
Has null values: True
Amount of null values: 314

In [26]:
replace_null_values(df_X)

C1 3
C10 3
C11 3
C12 3
C13 4748
C14 3
C2 3
C3 3
C4 3
C5 3
C6 3
C7 3
C8 3
C9 3
D1 7300
D10 88567
D11 455805
D12 963260
D13 911895
D14 919850
D15 101182
D2 515566
D3 466020
D4 245773
D5 534216
D6 899261
D7 998181
D8 947967
D9 947967
DeviceType 819490
M1 447739
M2 447739
M3 447739
M4 519189
M5 660114
M6 328299
M7 581283
M8 581256
M9 581256
P_emaildomain 163648
R_emaildomain 824070
V1 455805
V10 455805
V100 314
V101 314
V102 314
V103 314
V104 314
V105 314
V106 314
V107 314
V108 314
V109 314
V11 455805
V110 314
V111 314
V112 314
V113 314
V114 314
V115 314
V116 314
V117 314
V118 314
V119 314
V12 88662
V120 314
V121 314
V122 314
V123 314
V124 314
V125 314
V126 314
V127 314
V128 314
V129 314
V13 88662
V130 314
V131 314
V132 314
V133 314
V134 314
V135 314
V136 314
V137 314
V138 939501
V139 939501
V14 88662
V140 939501
V141 939501
V142 939501
V143 939225
V144 939225
V145 939225
V146 939501
V147 939501
V148 939501
V149 939501
V15 88662
V150 939225
V151 939225
V152 939225
V153 939501
V154 939501
V155 939501
V156 939501
V157 939501
V158 939501
V159 939225
V16 88662
V160 939225
V161 939501
V162 939501
V163 939501
V164 939225
V165 939225
V166 939225
V167 820866
V168 820866
V169 821037
V17 88662
V170 821037
V171 821037
V172 820866
V173 820866
V174 821037
V175 821037
V176 820866
V177 820866
V178 820866
V179 820866
V18 88662
V180 821037
V181 820866
V182 820866
V183 820866
V184 821037
V185 821037
V186 820866
V187 820866
V188 821037
V189 821037
V19 88662
V190 820866
V191 820866
V192 820866
V193 820866
V194 821037
V195 821037
V196 820866
V197 821037
V198 821037
V199 820866
V2 455805
V20 88662
V200 821037
V201 821037
V202 820866
V203 820866
V204 820866
V205 820866
V206 820866
V207 820866
V208 821037
V209 821037
V21 88662
V210 821037
V211 820866
V212 820866
V213 820866
V214 820866
V215 820866
V216 820866
V217 840073
V218 840073
V219 840073
V22 88662
V220 818499
V221 818499
V222 818499
V223 840073
V224 840073
V225 840073
V226 840073
V227 818499
V228 840073
V229 840073
V23 88662
V230 840073
V231 840073
V232 840073
V233 840073
V234 818499
V235 840073
V236 840073
V237 840073
V238 818499
V239 818499
V24 88662
V240 840073
V241 840073
V242 840073
V243 840073
V244 840073
V245 818499
V246 840073
V247 840073
V248 840073
V249 840073
V25 88662
V250 818499
V251 818499
V252 840073
V253 840073
V254 840073
V255 818499
V256 818499
V257 840073
V258 840073
V259 818499
V26 88662
V260 840073
V261 840073
V262 840073
V263 840073
V264 840073
V265 840073
V266 840073
V267 840073
V268 840073
V269 840073
V27 88662
V270 818499
V271 818499
V272 818499
V273 840073
V274 840073
V275 840073
V276 840073
V277 840073
V278 840073
V279 15
V28 88662
V280 15
V281 7300
V282 7300
V283 7300
V284 15
V285 15
V286 15
V287 15
V288 7300
V289 7300
V29 88662
V290 15
V291 15
V292 15
V293 15
V294 15
V295 15
V296 7300
V297 15
V298 15
V299 15
V3 455805
V30 88662
V300 7300
V301 7300
V302 15
V303 15
V304 15
V305 15
V306 15
V307 15
V308 15
V309 15
V31 88662
V310 15
V311 15
V312 15
V313 7300
V314 7300
V315 7300
V316 15
V317 15
V318 15
V319 15
V32 88662
V320 15
V321 15
V322 938449
V323 938449
V324 938449
V325 938449
V326 938449
V327 938449
V328 938449
V329 938449
V33 88662
V330 938449
V331 938449
V332 938449
V333 938449
V334 938449
V335 938449
V336 938449
V337 938449
V338 938449
V339 938449
V34 88662
V35 245823
V36 245823
V37 245823
V38 245823
V39 245823
V4 455805
V40 245823
V41 245823
V42 245823
V43 245823
V44 245823
V45 245823
V46 245823
V47 245823
V48 245823
V49 245823
V5 455805
V50 245823
V51 245823
V52 245823
V53 89995
V54 89995
V55 89995
V56 89995
V57 89995
V58 89995
V59 89995
V6 455805
V60 89995
V61 89995
V62 89995
V63 89995
V64 89995
V65 89995
V66 89995
V67 89995
V68 89995
V69 89995
V7 455805
V70 89995
V71 89995
V72 89995
V73 89995
V74 89995
V75 101245
V76 101245
V77 101245
V78 101245
V79 101245
V8 455805
V80 101245
V81 101245
V82 101245
V83 101245
V84 101245
V85 101245
V86 101245
V87 101245
V88 101245
V89 101245
V9 455805
V90 101245
V91 101245
V92 101245
V93 101245
V94 101245
V95 314
V96 314
V97 314
V98 314
V99 314
addr1 131315
addr2 131315
card2 17587
card3 4567
card4 4663
card5 8806
card6 4578
dist1 643488
dist2 1023168
id_01 811091
id_02 819383
id_03 964426
id_04 964426
id_05 825616
id_06 825616
id_07 1087017
id_08 1087017
id_09 947967
id_10 947967
id_11 819475
id_12 811091
id_13 839625
id_14 945830
id_15 819269
id_16 842144
id_17 821896
id_18 1001243
id_19 822007
id_20 822337
id_21 1087013
id_22 1087000
id_23 1087000
id_24 1087744
id_25 1087060
id_26 1087021
id_27 1087000
id_28 819475
id_29 819475
id_30 949007
id_31 820324
id_32 948974
id_33 953271
id_34 947251
id_35 819269
id_36 819269
id_37 819269
id_38 819269
C1 0
No Null values in column
C10 0
No Null values in column
C11 0
No Null values in column
C12 0
No Null values in column
C13 0
No Null values in column
C14 0
No Null values in column
C2 0
No Null values in column
C3 0
No Null values in column
C4 0
No Null values in column
C5 0
No Null values in column
C6 0
No Null values in column
C7 0
No Null values in column
C8 0
No Null values in column
C9 0
No Null values in column
D1 0
No Null values in column
D10 0
No Null values in column
D11 0
No Null values in column
D12 0
No Null values in column
D13 0
No Null values in column
D14 0
No Null values in column
D15 0
No Null values in column
D2 0
No Null values in column
D3 0
No Null values in column
D4 0
No Null values in column
D5 0
No Null values in column
D6 0
No Null values in column
D7 0
No Null values in column
D8 0
No Null values in column
D9 0
No Null values in column
DeviceType 0
No Null values in column
M1 0
No Null values in column
M2 0
No Null values in column
M3 0
No Null values in column
M4 0
No Null values in column
M5 0
No Null values in column
M6 0
No Null values in column
M7 0
No Null values in column
M8 0
No Null values in column
M9 0
No Null values in column
P_emaildomain 0
No Null values in column
ProductCD 0
No Null values in column
R_emaildomain 0
No Null values in column
TransactionAmt 0
No Null values in column
TransactionDT 0
No Null values in column
V1 0
No Null values in column
V10 0
No Null values in column
V100 0
No Null values in column
V101 0
No Null values in column
V102 0
No Null values in column
V103 0
No Null values in column
V104 0
No Null values in column
V105 0
No Null values in column
V106 0
No Null values in column
V107 0
No Null values in column
V108 0
No Null values in column
V109 0
No Null values in column
V11 0
No Null values in column
V110 0
No Null values in column
V111 0
No Null values in column
V112 0
No Null values in column
V113 0
No Null values in column
V114 0
No Null values in column
V115 0
No Null values in column
V116 0
No Null values in column
V117 0
No Null values in column
V118 0
No Null values in column
V119 0
No Null values in column
V12 0
No Null values in column
V120 0
No Null values in column
V121 0
No Null values in column
V122 0
No Null values in column
V123 0
No Null values in column
V124 0
No Null values in column
V125 0
No Null values in column
V126 0
No Null values in column
V127 0
No Null values in column
V128 0
No Null values in column
V129 0
No Null values in column
V13 0
No Null values in column
V130 0
No Null values in column
V131 0
No Null values in column
V132 0
No Null values in column
V133 0
No Null values in column
V134 0
No Null values in column
V135 0
No Null values in column
V136 0
No Null values in column
V137 0
No Null values in column
V138 0
No Null values in column
V139 0
No Null values in column
V14 0
No Null values in column
V140 0
No Null values in column
V141 0
No Null values in column
V142 0
No Null values in column
V143 0
No Null values in column
V144 0
No Null values in column
V145 0
No Null values in column
V146 0
No Null values in column
V147 0
No Null values in column
V148 0
No Null values in column
V149 0
No Null values in column
V15 0
No Null values in column
V150 0
No Null values in column
V151 0
No Null values in column
V152 0
No Null values in column
V153 0
No Null values in column
V154 0
No Null values in column
V155 0
No Null values in column
V156 0
No Null values in column
V157 0
No Null values in column
V158 0
No Null values in column
V159 0
No Null values in column
V16 0
No Null values in column
V160 0
No Null values in column
V161 0
No Null values in column
V162 0
No Null values in column
V163 0
No Null values in column
V164 0
No Null values in column
V165 0
No Null values in column
V166 0
No Null values in column
V167 0
No Null values in column
V168 0
No Null values in column
V169 0
No Null values in column
V17 0
No Null values in column
V170 0
No Null values in column
V171 0
No Null values in column
V172 0
No Null values in column
V173 0
No Null values in column
V174 0
No Null values in column
V175 0
No Null values in column
V176 0
No Null values in column
V177 0
No Null values in column
V178 0
No Null values in column
V179 0
No Null values in column
V18 0
No Null values in column
V180 0
No Null values in column
V181 0
No Null values in column
V182 0
No Null values in column
V183 0
No Null values in column
V184 0
No Null values in column
V185 0
No Null values in column
V186 0
No Null values in column
V187 0
No Null values in column
V188 0
No Null values in column
V189 0
No Null values in column
V19 0
No Null values in column
V190 0
No Null values in column
V191 0
No Null values in column
V192 0
No Null values in column
V193 0
No Null values in column
V194 0
No Null values in column
V195 0
No Null values in column
V196 0
No Null values in column
V197 0
No Null values in column
V198 0
No Null values in column
V199 0
No Null values in column
V2 0
No Null values in column
V20 0
No Null values in column
V200 0
No Null values in column
V201 0
No Null values in column
V202 0
No Null values in column
V203 0
No Null values in column
V204 0
No Null values in column
V205 0
No Null values in column
V206 0
No Null values in column
V207 0
No Null values in column
V208 0
No Null values in column
V209 0
No Null values in column
V21 0
No Null values in column
V210 0
No Null values in column
V211 0
No Null values in column
V212 0
No Null values in column
V213 0
No Null values in column
V214 0
No Null values in column
V215 0
No Null values in column
V216 0
No Null values in column
V217 0
No Null values in column
V218 0
No Null values in column
V219 0
No Null values in column
V22 0
No Null values in column
V220 0
No Null values in column
V221 0
No Null values in column
V222 0
No Null values in column
V223 0
No Null values in column
V224 0
No Null values in column
V225 0
No Null values in column
V226 0
No Null values in column
V227 0
No Null values in column
V228 0
No Null values in column
V229 0
No Null values in column
V23 0
No Null values in column
V230 0
No Null values in column
V231 0
No Null values in column
V232 0
No Null values in column
V233 0
No Null values in column
V234 0
No Null values in column
V235 0
No Null values in column
V236 0
No Null values in column
V237 0
No Null values in column
V238 0
No Null values in column
V239 0
No Null values in column
V24 0
No Null values in column
V240 0
No Null values in column
V241 0
No Null values in column
V242 0
No Null values in column
V243 0
No Null values in column
V244 0
No Null values in column
V245 0
No Null values in column
V246 0
No Null values in column
V247 0
No Null values in column
V248 0
No Null values in column
V249 0
No Null values in column
V25 0
No Null values in column
V250 0
No Null values in column
V251 0
No Null values in column
V252 0
No Null values in column
V253 0
No Null values in column
V254 0
No Null values in column
V255 0
No Null values in column
V256 0
No Null values in column
V257 0
No Null values in column
V258 0
No Null values in column
V259 0
No Null values in column
V26 0
No Null values in column
V260 0
No Null values in column
V261 0
No Null values in column
V262 0
No Null values in column
V263 0
No Null values in column
V264 0
No Null values in column
V265 0
No Null values in column
V266 0
No Null values in column
V267 0
No Null values in column
V268 0
No Null values in column
V269 0
No Null values in column
V27 0
No Null values in column
V270 0
No Null values in column
V271 0
No Null values in column
V272 0
No Null values in column
V273 0
No Null values in column
V274 0
No Null values in column
V275 0
No Null values in column
V276 0
No Null values in column
V277 0
No Null values in column
V278 0
No Null values in column
V279 0
No Null values in column
V28 0
No Null values in column
V280 0
No Null values in column
V281 0
No Null values in column
V282 0
No Null values in column
V283 0
No Null values in column
V284 0
No Null values in column
V285 0
No Null values in column
V286 0
No Null values in column
V287 0
No Null values in column
V288 0
No Null values in column
V289 0
No Null values in column
V29 0
No Null values in column
V290 0
No Null values in column
V291 0
No Null values in column
V292 0
No Null values in column
V293 0
No Null values in column
V294 0
No Null values in column
V295 0
No Null values in column
V296 0
No Null values in column
V297 0
No Null values in column
V298 0
No Null values in column
V299 0
No Null values in column
V3 0
No Null values in column
V30 0
No Null values in column
V300 0
No Null values in column
V301 0
No Null values in column
V302 0
No Null values in column
V303 0
No Null values in column
V304 0
No Null values in column
V305 0
No Null values in column
V306 0
No Null values in column
V307 0
No Null values in column
V308 0
No Null values in column
V309 0
No Null values in column
V31 0
No Null values in column
V310 0
No Null values in column
V311 0
No Null values in column
V312 0
No Null values in column
V313 0
No Null values in column
V314 0
No Null values in column
V315 0
No Null values in column
V316 0
No Null values in column
V317 0
No Null values in column
V318 0
No Null values in column
V319 0
No Null values in column
V32 0
No Null values in column
V320 0
No Null values in column
V321 0
No Null values in column
V322 0
No Null values in column
V323 0
No Null values in column
V324 0
No Null values in column
V325 0
No Null values in column
V326 0
No Null values in column
V327 0
No Null values in column
V328 0
No Null values in column
V329 0
No Null values in column
V33 0
No Null values in column
V330 0
No Null values in column
V331 0
No Null values in column
V332 0
No Null values in column
V333 0
No Null values in column
V334 0
No Null values in column
V335 0
No Null values in column
V336 0
No Null values in column
V337 0
No Null values in column
V338 0
No Null values in column
V339 0
No Null values in column
V34 0
No Null values in column
V35 0
No Null values in column
V36 0
No Null values in column
V37 0
No Null values in column
V38 0
No Null values in column
V39 0
No Null values in column
V4 0
No Null values in column
V40 0
No Null values in column
V41 0
No Null values in column
V42 0
No Null values in column
V43 0
No Null values in column
V44 0
No Null values in column
V45 0
No Null values in column
V46 0
No Null values in column
V47 0
No Null values in column
V48 0
No Null values in column
V49 0
No Null values in column
V5 0
No Null values in column
V50 0
No Null values in column
V51 0
No Null values in column
V52 0
No Null values in column
V53 0
No Null values in column
V54 0
No Null values in column
V55 0
No Null values in column
V56 0
No Null values in column
V57 0
No Null values in column
V58 0
No Null values in column
V59 0
No Null values in column
V6 0
No Null values in column
V60 0
No Null values in column
V61 0
No Null values in column
V62 0
No Null values in column
V63 0
No Null values in column
V64 0
No Null values in column
V65 0
No Null values in column
V66 0
No Null values in column
V67 0
No Null values in column
V68 0
No Null values in column
V69 0
No Null values in column
V7 0
No Null values in column
V70 0
No Null values in column
V71 0
No Null values in column
V72 0
No Null values in column
V73 0
No Null values in column
V74 0
No Null values in column
V75 0
No Null values in column
V76 0
No Null values in column
V77 0
No Null values in column
V78 0
No Null values in column
V79 0
No Null values in column
V8 0
No Null values in column
V80 0
No Null values in column
V81 0
No Null values in column
V82 0
No Null values in column
V83 0
No Null values in column
V84 0
No Null values in column
V85 0
No Null values in column
V86 0
No Null values in column
V87 0
No Null values in column
V88 0
No Null values in column
V89 0
No Null values in column
V9 0
No Null values in column
V90 0
No Null values in column
V91 0
No Null values in column
V92 0
No Null values in column
V93 0
No Null values in column
V94 0
No Null values in column
V95 0
No Null values in column
V96 0
No Null values in column
V97 0
No Null values in column
V98 0
No Null values in column
V99 0
No Null values in column
addr1 0
No Null values in column
addr2 0
No Null values in column
card1 0
No Null values in column
card2 0
No Null values in column
card3 0
No Null values in column
card4 0
No Null values in column
card5 0
No Null values in column
card6 0
No Null values in column
dist1 0
No Null values in column
dist2 0
No Null values in column
id_01 0
No Null values in column
id_02 0
No Null values in column
id_03 0
No Null values in column
id_04 0
No Null values in column
id_05 0
No Null values in column
id_06 0
No Null values in column
id_07 0
No Null values in column
id_08 0
No Null values in column
id_09 0
No Null values in column
id_10 0
No Null values in column
id_11 0
No Null values in column
id_12 0
No Null values in column
id_13 0
No Null values in column
id_14 0
No Null values in column
id_15 0
No Null values in column
id_16 0
No Null values in column
id_17 0
No Null values in column
id_18 0
No Null values in column
id_19 0
No Null values in column
id_20 0
No Null values in column
id_21 0
No Null values in column
id_22 0
No Null values in column
id_23 0
No Null values in column
id_24 0
No Null values in column
id_25 0
No Null values in column
id_26 0
No Null values in column
id_27 0
No Null values in column
id_28 0
No Null values in column
id_29 0
No Null values in column
id_30 0
No Null values in column
id_31 0
No Null values in column
id_32 0
No Null values in column
id_33 0
No Null values in column
id_34 0
No Null values in column
id_35 0
No Null values in column
id_36 0
No Null values in column
id_37 0
No Null values in column
id_38 0
No Null values in column
isFraud 0
No Null values in column

In [27]:
not_fraud = df_X[df_X['isFraud'] == 0]
fraud = df_X[df_X['isFraud'] == 1]
test = df_X[df_X['isFraud'] == -1]
train = df_X[df_X['isFraud'] != -1]
pickle.dump(train, open('./train.data', 'wb'))
pickle.dump(test, open('./test.data', 'wb'))
print(not_fraud.shape)
print(fraud.shape)

(569877, 432)
(20663, 432)

In [28]:
from sklearn.utils import resample
fraud_upsampled = resample(fraud,
                          replace=True,
                          n_samples=len(not_fraud),
                          )
print(fraud_upsampled.shape)

(569877, 432)

In [29]:
fraud_upsampled.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,isFraud
TransactionID,,,,,,,,,,,,,,,,,,,,,
3221734,10.0,6.0,5.0,5.0,1.0,1.0,20.0,0.0,6.0,0.0,...,Android,safari,32.0,2073600.0,match_status:2,F,F,F,F,1
3108832,2.0,0.0,1.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,...,Android,chrome,32.0,2073600.0,match_status:2,F,F,T,F,1
3288087,1.0,0.0,1.0,0.0,7.0,1.0,1.0,0.0,0.0,1.0,...,Android,chrome,32.0,2073600.0,match_status:2,F,F,T,F,1
3073514,1.0,1.0,1.0,0.0,1.0,1.0,2.0,0.0,2.0,0.0,...,Android,other,32.0,410400.0,match_status:2,T,F,T,F,1
3140407,17.0,7.0,4.0,4.0,2.0,2.0,34.0,0.0,4.0,0.0,...,Android,chrome,32.0,2073600.0,match_status:2,F,F,T,T,1

In [30]:
df_X = pd.concat([not_fraud, fraud_upsampled, test])
df_X['isFraud'].value_counts()

 1    569877
 0    569877
-1    506691
Name: isFraud, dtype: int64

In [31]:
del(fraud)
del(not_fraud)
del(test)

In [32]:
cat_cols = []
for i in range(1,7):
    cat_cols.append('card'+str(i))
for i in range(1,3):
    cat_cols.append('addr'+str(i))
for i in range(1, 10):
    cat_cols.append('M'+str(i))
for i in range(12, 39):
    cat_cols.append('id_'+str(i))
cat_cols.append('ProductCD')
cat_cols.append('DeviceType')
cat_cols.append('P_emaildomain') 
cat_cols.append('R_emaildomain')
display(cat_cols)

['card1',
 'card2',
 'card3',
 'card4',
 'card5',
 'card6',
 'addr1',
 'addr2',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'id_12',
 'id_13',
 'id_14',
 'id_15',
 'id_16',
 'id_17',
 'id_18',
 'id_19',
 'id_20',
 'id_21',
 'id_22',
 'id_23',
 'id_24',
 'id_25',
 'id_26',
 'id_27',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_32',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38',
 'ProductCD',
 'DeviceType',
 'P_emaildomain',
 'R_emaildomain']

In [34]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in cat_cols:
    df_X[col] = le.fit_transform(df_X[col])
print(df_X.shape)

(1646445, 432)

In [35]:
df_X.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,isFraud
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,12,4,227,3,0,0,1,0,0
2987001,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,12,4,227,3,0,0,1,0,0
2987002,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,12,4,227,3,0,0,1,0,0
2987003,2.0,0.0,1.0,0.0,25.0,1.0,5.0,0.0,0.0,0.0,...,0,12,4,227,3,0,0,1,0,0
2987004,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,32,4,256,3,1,0,1,1,0

In [36]:
pickle.dump(cat_cols, open('cat_cols.data', 'wb'))
del(cat_cols)

In [37]:
df_train = df_X[df_X['isFraud'] != -1]
df_test = df_X[df_X['isFraud'] == -1]
del(df_X)

In [39]:
df_train = reduce_mem_usage(df_train)
df_test = reduce_mem_usage(df_test)
pickle.dump(df_train, open('df_train.data', 'wb'))
pickle.dump(df_test, open('df_test.data', 'wb'))
print(df_train.shape)
print(df_test.shape)

Mem. usage decreased to 1005.43 Mb (0.0% reduction)
Mem. usage decreased to 454.71 Mb (0.0% reduction)
(1139754, 432)
(506691, 432)

In [40]:
Ytrain = df_train['isFraud']
Xtrain = df_train.drop(columns=['isFraud'])
Xtest = df_test.drop(columns=['isFraud'])
print(Xtrain.shape)
print(Ytrain.shape)
print(Xtest.shape)
pickle.dump(Ytrain, open('./Ytrain.data', 'wb'))

(1139754, 431)
(1139754,)
(506691, 431)

In [41]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [42]:
scaler.fit(Xtrain)
pickle.dump(scaler, open('scaler.data', 'wb'))
Xtraincols = Xtrain.columns
Xtrainindex = Xtrain.index
Xtestcols = Xtest.columns
Xtestindex = Xtest.index

In [43]:
Xtrain = pd.DataFrame(data=scaler.transform(Xtrain), index=Xtrainindex, columns=Xtraincols)

In [44]:
Xtest = pd.DataFrame(data=scaler.transform(Xtest), index=Xtestindex, columns=Xtestcols)

In [45]:
for column in Xtrain.columns:
    print(Xtrain[column].dtype)
for column in Xtest.columns:
    print(Xtest[column].dtype)

float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

In [46]:
Xtrain = reduce_mem_usage(Xtrain)

Mem. usage decreased to 945.65 Mb (74.8% reduction)

In [47]:
Xtest = reduce_mem_usage(Xtest)

Mem. usage decreased to 420.40 Mb (74.8% reduction)

In [48]:
for column in Xtrain.columns:
    print(Xtrain[column].dtype)
for column in Xtest.columns:
    print(Xtest[column].dtype)

float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16
float16

In [49]:
pickle.dump(Xtrain, open('./Xtrain.data', 'wb'))
pickle.dump(Xtest, open('./Xtest.data', 'wb'))

In [50]:
from sklearn.decomposition import PCA

C:\Anaconda3\envs\dsmldl\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [51]:
pca = PCA(n_components=100)

In [52]:
pca.fit(Xtrain)

PCA(copy=True, iterated_power='auto', n_components=100, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [57]:
Xtrain_pca = pca.transform(Xtrain)
Xtest_pca = pca.transform(Xtest)
display(Xtrain_pca.shape)
display(Xtest_pca.shape)

(1139754, 100)

(506691, 100)

In [58]:
Xtrain_pca = reduce_mem_usage(pd.DataFrame(data=Xtrain_pca, index=Xtrainindex))
Xtest_pca = reduce_mem_usage(pd.DataFrame(data=Xtest_pca, index=Xtestindex))
pickle.dump(Xtrain_pca, open('./Xtrain_pca_100.data', 'wb'))
pickle.dump(Xtest_pca, open('./Xtest_pca_100.data', 'wb'))

Mem. usage decreased to 226.09 Mb (74.3% reduction)
Mem. usage decreased to 100.51 Mb (74.3% reduction)