<h1>Machine Learning - Project</h1>
<h3>California Housing Price Predication</h3>
<h5>By - Anishka Patel email: anishka.vpatel@gmail.com</h5>

<p>DESCRIPTION <br>
<br>
Background of Problem Statement :<br>
<br>
The US Census Bureau has published California Census Data which has 10 types of metrics <br>
such as the population, median income, median housing price, and so on for each block <br>
group in California. The dataset also serves as an input for project scoping and tries to <br>
specify the functional and nonfunctional requirements for it.<br>
<br>
Problem Objective :<br>
<br>
The project aims at building a model of housing prices to predict median house values <br>
in California using the provided dataset. This model should learn from the data and be <br>
able to predict the median housing price in any district, given all the other metrics.<br>
<br>
Districts or block groups are the smallest geographical units for which the US Census <br>
Bureau publishes sample data (a block group typically has a population of 600 to 3,000 <br>
people). There are 20,640 districts in the project dataset.<br></p>
<p>
Analysis Tasks to be performed:
<ol>
<li>Build a model of housing prices to predict median house values in California using <br>the provided dataset.

<li>Train the model to learn from the data to predict the median housing price in any <br>district, given all the other metrics.

<li>Predict housing prices based on median_income and plot the regression chart for it.</ol></p>

In [1]:
# IMPORTS

import pandas as pd

<h4>1. Load the data :</h4>
<li>Read the “housing.csv” file from the folder into the program.

In [2]:
df = pd.read_excel('1553768847_housing.xlsx')

<li>Print first few rows of this data.

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

<li>Extract input (X) and output (Y) data from the dataset.

In [4]:
X = df.iloc[:, 2:-1]
Y = df.iloc[:,-1]
print(X.head())
print(Y.head())

   housing_median_age  total_rooms  total_bedrooms  population  households  \
0                  41          880           129.0         322         126
1                  21         7099          1106.0        2401        1138
2                  52         1467           190.0         496         177
3                  52         1274           235.0         558         219
4                  52         1627           280.0         565         259

   median_income ocean_proximity
0         8.3252        NEAR BAY
1         8.3014        NEAR BAY
2         7.2574        NEAR BAY
3         5.6431        NEAR BAY
4         3.8462        NEAR BAY
0    452600
1    358500
2    352100
3    341300
4    342200
Name: median_house_value, dtype: int64

<h4>2. Handle missing values :</h4>
<li>Fill the missing values with the mean of the respective column.

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 7 columns):
housing_median_age    20640 non-null int64
total_rooms           20640 non-null int64
total_bedrooms        20433 non-null float64
population            20640 non-null int64
households            20640 non-null int64
median_income         20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(2), int64(4), object(1)
memory usage: 1.1+ MB

<p> Column: total_bedrooms has some null values </p>

In [6]:
# Handling missing data
mean_total_bedrooms = X['total_bedrooms'].mean()
mean_total_bedrooms

537.8705525375618

In [7]:
X['total_bedrooms'].fillna(value=mean_total_bedrooms, axis=0, inplace=True)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 7 columns):
housing_median_age    20640 non-null int64
total_rooms           20640 non-null int64
total_bedrooms        20640 non-null float64
population            20640 non-null int64
households            20640 non-null int64
median_income         20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(2), int64(4), object(1)
memory usage: 1.1+ MB

<p> No null values in X </p>

<h4>3. Encode categorical data :</h4>
<li>Convert categorical column in the dataset to numerical data.

In [8]:
X = pd.get_dummies(X, columns=['ocean_proximity'])
X.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,41,880,129.0,322,126,8.3252,0,0,0,1,0
1,21,7099,1106.0,2401,1138,8.3014,0,0,0,1,0
2,52,1467,190.0,496,177,7.2574,0,0,0,1,0
3,52,1274,235.0,558,219,5.6431,0,0,0,1,0
4,52,1627,280.0,565,259,3.8462,0,0,0,1,0

<h4>4. Split the dataset : </h4>
<li>Split the data into 80% training dataset and 20% test dataset.

In [9]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, test_size=.2, random_state=15)
print(Xtrain.shape)
print(Xtest.shape)
print(Ytrain.shape)
print(Ytest.shape)

(16512, 11)
(4128, 11)
(16512,)
(4128,)

<h4>5. Standardize data :</h4>
<li>Standardize training and test datasets.

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Xtrain = pd.DataFrame(data=scaler.fit_transform(Xtrain))
Xtest = pd.DataFrame(data=scaler.fit_transform(Xtest))
print(Xtrain.head())
print(Xtest.head())

         0         1         2         3         4         5         6   \
0 -1.479975 -0.989472 -1.012499 -1.060311 -1.058113 -0.892478 -0.891506
1  0.261625  0.185907  0.674387  0.250759  0.585480 -0.350094 -0.891506
2 -0.213356 -0.685503 -0.346942  0.407092 -0.260252 -0.839358  1.121698
3 -0.767502  1.920812  2.194278  2.472293  2.385986  0.046856  1.121698
4  1.053262 -0.682710 -0.659149 -0.335492 -0.683118 -0.168301  1.121698

         7         8         9         10
0 -0.682289 -0.017404  2.828138 -0.383283
1 -0.682289 -0.017404  2.828138 -0.383283
2 -0.682289 -0.017404 -0.353590 -0.383283
3 -0.682289 -0.017404 -0.353590 -0.383283
4 -0.682289 -0.017404 -0.353590 -0.383283
         0         1         2         3         4         5         6   \
0  1.902821 -0.517923 -0.408778 -0.492543 -0.391786 -0.481546 -0.889757
1  0.611848 -0.665987 -0.634690 -0.827466 -0.876374 -1.039469 -0.889757
2 -1.485984  0.105071  0.034011  0.207515  0.060823 -0.009265 -0.889757
3 -1.889413  5.203751  3.858711  2.447526  2.990486  1.605853 -0.889757
4  0.127733 -0.827905 -0.790570 -0.610802 -0.787820 -1.175225 -0.889757

         7    8         9         10
0 -0.680288  0.0  2.841219 -0.389184
1 -0.680288  0.0  2.841219 -0.389184
2  1.469965  0.0 -0.351962 -0.389184
3  1.469965  0.0 -0.351962 -0.389184
4  1.469965  0.0 -0.351962 -0.389184

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

<h4>6. Perform Linear Regression : </h4>
<li>Perform Linear Regression on training data.

In [11]:
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()
model_lr.fit(Xtrain, Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

<li>Predict output for test dataset using the fitted model.

In [12]:
Ypred_lr = model_lr.predict(Xtest)

In [13]:
model_lr.score(Xtest, Ytest)

0.6279244012499515

<li>Print root mean squared error (RMSE) from Linear Regression.

In [14]:
from sklearn.metrics import mean_squared_error
from math import sqrt
print(sqrt(mean_squared_error(Ypred_lr, Ytest)))

70338.55535453843

In [15]:
df_out_lr = pd.DataFrame(data=Ytest.values, columns=['Actual'])
df_out_lr['Prediction'] = Ypred_lr
df_out_lr['Error'] = df_out_lr['Prediction'] - df_out_lr['Actual']
df_out_lr

      Actual     Prediction          Error
0     220800  225001.787303    4201.787303
1      82800  155615.110498   72815.110498
2     141000  127842.841652  -13157.158348
3     340900  281204.634820  -59695.365180
4      56100   59454.426655    3354.426655
5     120700  127797.063211    7097.063211
6     125000  150067.308400   25067.308400
7      67500  181072.264384  113572.264384
8     236800  183188.388279  -53611.611721
9     178300  209663.209705   31363.209705
10    154300  185774.509821   31474.509821
11    127900  243412.999921  115512.999921
12    442100  297718.169789 -144381.830211
13    186600  239112.054972   52512.054972
14    237400  283509.988389   46109.988389
15     73500  257128.710103  183628.710103
16    177800  224504.089812   46704.089812
17    243800  215211.556138  -28588.443862
18    182200   99651.375962  -82548.624038
19     89500  170319.773393   80819.773393
20    106300  162884.443284   56584.443284
21    451800  314779.514402 -137020.485598
22     68800  101262.315082   32462.315082
23    257900  240133.584897  -17766.415103
24    186300  232664.820800   46364.820800
25    264500  291893.960674   27393.960674
26    283300  257546.814906  -25753.185094
27    154200  165341.742882   11141.742882
28    121200  137950.541726   16750.541726
29     97400  178624.821642   81224.821642
...      ...            ...            ...
4098  137500  126089.240797  -11410.759203
4099  139800  209683.283876   69883.283876
4100  108300   47844.944258  -60455.055742
4101  387500  350694.488808  -36805.511192
4102  168600  191108.844389   22508.844389
4103  178600  213775.067087   35175.067087
4104  213500  163651.112869  -49848.887131
4105  218600  300657.698108   82057.698108
4106  175000  298717.707472  123717.707472
4107   49800   35077.638352  -14722.361648
4108  112500  161917.599169   49417.599169
4109  203400  136359.813808  -67040.186192
4110  100200   90927.338028   -9272.661972
4111  149300  160774.398587   11474.398587
4112  173500  260323.404014   86823.404014
4113  268000  187013.064816  -80986.935184
4114  135600  116730.730599  -18869.269401
4115   89300  168860.229591   79560.229591
4116  214600  255658.838501   41058.838501
4117  247100  205150.119598  -41949.880402
4118  133000  155189.296818   22189.296818
4119  258000  305990.828063   47990.828063
4120  152500  152518.329321      18.329321
4121  217900  241720.360607   23820.360607
4122  288200  315372.902668   27172.902668
4123  500001  526124.291016   26123.291016
4124  195000  242380.003108   47380.003108
4125  208300  163615.755921  -44684.244079
4126  148400  185340.905200   36940.905200
4127  500001  305002.928619 -194998.071381

[4128 rows x 3 columns]

<h4>7. Perform Decision Tree Regression :</h4>
<li>Perform Decision Tree Regression on training data.

In [16]:
from sklearn.tree import DecisionTreeRegressor
model_dtr = DecisionTreeRegressor()
model_dtr.fit(Xtrain, Ytrain)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

<li>Predict output for test dataset using the fitted model.

In [17]:
Ypred_dtr = model_dtr.predict(Xtest)
model_dtr.score(Xtest, Ytest)

0.4294857310962491

<li>Print root mean squared error from Decision Tree Regression.

In [18]:
print(sqrt(mean_squared_error(Ypred_dtr, Ytest)))

87098.58611814289

In [19]:
df_out_dtr = pd.DataFrame(data=Ytest.values, columns=['Actual'])
df_out_dtr['Prediction'] = Ypred_dtr
df_out_dtr['Error'] = df_out_dtr['Prediction'] - df_out_dtr['Actual']
df_out_dtr

      Actual  Prediction     Error
0     220800    122800.0  -98000.0
1      82800     76100.0   -6700.0
2     141000    193000.0   52000.0
3     340900    353100.0   12200.0
4      56100     57700.0    1600.0
5     120700     91700.0  -29000.0
6     125000    151700.0   26700.0
7      67500    260100.0  192600.0
8     236800    150000.0  -86800.0
9     178300    198000.0   19700.0
10    154300    156300.0    2000.0
11    127900    195400.0   67500.0
12    442100    286600.0 -155500.0
13    186600    304000.0  117400.0
14    237400    304100.0   66700.0
15     73500    269200.0  195700.0
16    177800    144500.0  -33300.0
17    243800    183300.0  -60500.0
18    182200    181900.0    -300.0
19     89500    184600.0   95100.0
20    106300     90600.0  -15700.0
21    451800    271700.0 -180100.0
22     68800     64600.0   -4200.0
23    257900    180600.0  -77300.0
24    186300    234300.0   48000.0
25    264500    319600.0   55100.0
26    283300    500001.0  216701.0
27    154200    131700.0  -22500.0
28    121200    321900.0  200700.0
29     97400    129700.0   32300.0
...      ...         ...       ...
4098  137500    212500.0   75000.0
4099  139800    201000.0   61200.0
4100  108300     70000.0  -38300.0
4101  387500    500001.0  112501.0
4102  168600    178500.0    9900.0
4103  178600    146800.0  -31800.0
4104  213500    112800.0 -100700.0
4105  218600    248000.0   29400.0
4106  175000    181100.0    6100.0
4107   49800     41500.0   -8300.0
4108  112500    225000.0  112500.0
4109  203400    179200.0  -24200.0
4110  100200    150000.0   49800.0
4111  149300    114800.0  -34500.0
4112  173500    211100.0   37600.0
4113  268000    332100.0   64100.0
4114  135600     72700.0  -62900.0
4115   89300    171300.0   82000.0
4116  214600    225800.0   11200.0
4117  247100    170800.0  -76300.0
4118  133000    146900.0   13900.0
4119  258000    282700.0   24700.0
4120  152500    101100.0  -51400.0
4121  217900    329600.0  111700.0
4122  288200    322700.0   34500.0
4123  500001    500001.0       0.0
4124  195000    143200.0  -51800.0
4125  208300    181700.0  -26600.0
4126  148400    374200.0  225800.0
4127  500001    393500.0 -106501.0

[4128 rows x 3 columns]

<h4>8. Perform Random Forest Regression :</h4>
<li>Perform Random Forest Regression on training data.

In [20]:
from sklearn.ensemble import RandomForestRegressor
model_rfr = RandomForestRegressor()
model_rfr.fit(Xtrain, Ytrain)

C:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

<li>Predict output for test dataset using the fitted model.

In [21]:
Ypred_rfr = model_rfr.predict(Xtest)
model_rfr.score(Xtest, Ytest)

0.6718491022217677

<li>Print RMSE (root mean squared error) from Random Forest Regression.

In [22]:
print(sqrt(mean_squared_error(Ypred_rfr, Ytest)))

66056.36146233698

In [23]:
df_out_rfr = pd.DataFrame(data=Ytest.values, columns=['Actual'])
df_out_rfr['Prediction'] = Ypred_rfr
df_out_rfr['Error'] = df_out_rfr['Prediction'] - df_out_rfr['Actual']
df_out_rfr

      Actual  Prediction     Error
0     220800    204300.0  -16500.0
1      82800    119750.0   36950.0
2     141000    130750.0  -10250.0
3     340900    311110.0  -29790.0
4      56100     63160.0    7060.0
5     120700    144150.0   23450.0
6     125000    188880.0   63880.0
7      67500    172990.0  105490.0
8     236800    172150.0  -64650.0
9     178300    164020.0  -14280.0
10    154300    160550.0    6250.0
11    127900    199510.0   71610.0
12    442100    464270.8   22170.8
13    186600    261800.0   75200.0
14    237400    271610.0   34210.0
15     73500    175320.1  101820.1
16    177800    192450.0   14650.0
17    243800    228340.0  -15460.0
18    182200    178400.0   -3800.0
19     89500    164470.0   74970.0
20    106300    157850.0   51550.0
21    451800    316720.0 -135080.0
22     68800     90260.0   21460.0
23    257900    222630.0  -35270.0
24    186300    224770.0   38470.0
25    264500    296010.0   31510.0
26    283300    252010.0  -31290.0
27    154200    121220.0  -32980.0
28    121200    131830.0   10630.0
29     97400    163590.0   66190.0
...      ...         ...       ...
4098  137500    230940.0   93440.0
4099  139800    163270.0   23470.0
4100  108300     89730.0  -18570.0
4101  387500    387280.3    -219.7
4102  168600    168470.0    -130.0
4103  178600    147140.0  -31460.0
4104  213500    164060.0  -49440.0
4105  218600    264200.0   45600.0
4106  175000    292230.0  117230.0
4107   49800     55100.0    5300.0
4108  112500    186830.0   74330.0
4109  203400    142640.0  -60760.0
4110  100200    118880.0   18680.0
4111  149300    153400.0    4100.0
4112  173500    337570.0  164070.0
4113  268000    196480.0  -71520.0
4114  135600     75070.0  -60530.0
4115   89300    147710.0   58410.0
4116  214600    203290.0  -11310.0
4117  247100    171480.0  -75620.0
4118  133000    122460.0  -10540.0
4119  258000    330930.0   72930.0
4120  152500    162270.0    9770.0
4121  217900    215650.0   -2250.0
4122  288200    345050.0   56850.0
4123  500001    479420.6  -20580.4
4124  195000    202360.0    7360.0
4125  208300    160220.0  -48080.0
4126  148400    254200.0  105800.0
4127  500001    411250.3  -88750.7

[4128 rows x 3 columns]

<h4>9. Bonus exercise: Perform Linear Regression with one independent variable :</h4>
<li>Extract just the median_income column from the independent variables (from X_train and X_test).

In [24]:
Xtrainb = Xtrain[[5]]
Xtestb = Xtest[[5]]
print(Xtrainb.head())
print(Xtestb.head())

          5
0 -0.892478
1 -0.350094
2 -0.839358
3  0.046856
4 -0.168301
          5
0 -0.481546
1 -1.039469
2 -0.009265
3  1.605853
4 -1.175225

<li>Perform Linear Regression to predict housing values based on median_income.

In [25]:
model_lrb = LinearRegression()
model_lrb.fit(Xtrainb, Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

<li>Predict output for test dataset using the fitted model.

In [26]:
Ypred_lrb = model_lrb.predict(Xtestb)
model_lrb.score(Xtestb, Ytest)

0.4593220819728651

In [27]:
print(sqrt(mean_squared_error(Ypred_lrb, Ytest)))

84790.49410859433

In [28]:
df_out_lrb = pd.DataFrame(data=Ytest.values, columns=['Actual'])
df_out_lrb['Prediction'] = Ypred_lrb
df_out_lrb['Error'] = df_out_lrb['Prediction'] - df_out_lrb['Actual']
df_out_lrb

      Actual     Prediction          Error
0     220800  168337.761939  -52462.238061
1      82800  123869.203503   41069.203503
2     141000  205980.284649   64980.284649
3     340900  334711.287812   -6188.712188
4      56100  113048.985882   56948.985882
5     120700  171418.987973   50718.987973
6     125000  186064.321589   61064.321589
7      67500  158075.461789   90575.461789
8     236800  157272.398762  -79527.601238
9     178300  175818.928029   -2481.071971
10    154300  170713.137839   16413.137839
11    127900  224252.081828   96352.081828
12    442100  233935.331270 -208164.668730
13    186600  196660.526893   10060.526893
14    237400  242950.770405    5550.770405
15     73500  193165.089404  119665.089404
16    177800  226509.111597   48709.111597
17    243800  172192.464467  -71607.535533
18    182200  156528.508801  -25671.491199
19     89500  251344.892357  161844.892357
20    106300  139659.958595   33359.958595
21    451800  298894.676826 -152905.323174
22     68800  136637.905626   67837.905626
23    257900  195261.506568  -62638.493432
24    186300  231923.447056   45623.447056
25    264500  315133.456554   50633.456554
26    283300  197860.894785  -85439.105215
27    154200  223077.073821   68877.073821
28    121200  153806.547805   32606.547805
29     97400  149279.808324   51879.808324
...      ...            ...            ...
4098  137500  111058.234905  -26441.765095
4099  139800  154212.305966   14412.305966
4100  108300  108898.418029     598.418029
4101  387500  371428.174718  -16071.825282
4102  168600  183997.490958   15397.490958
4103  178600  207734.343365   29134.343365
4104  213500  227772.879202   14272.879202
4105  218600  297677.402344   79077.402344
4106  175000  296941.965677  121941.965677
4107   49800  119545.343102   69745.343102
4108  112500  154685.690487   42185.690487
4109  203400  197742.548655   -5657.451345
4110  100200  150953.560737   50753.560737
4111  149300  139757.171487   -9542.828513
4112  173500  242388.626286   68888.626286
4113  268000  179977.949177  -88022.050823
4114  135600  152487.833783   16887.833783
4115   89300  129372.298559   40072.298559
4116  214600  238927.001977   24327.001977
4117  247100  179090.353201  -68009.646799
4118  133000  214272.967061   81272.967061
4119  258000  308861.111651   50861.111651
4120  152500  132187.245800  -20312.754200
4121  217900  174221.255271  -43678.744729
4122  288200  341224.551623   53024.551623
4123  500001  564471.846369   64470.846369
4124  195000  220169.140335   25169.140335
4125  208300  144499.469992  -63800.530008
4126  148400  257824.342987  109424.342987
4127  500001  227422.067459 -272578.932541

[4128 rows x 3 columns]

<li>Plot the fitted model for training data as well as for test data to check if the fitted model satisfies the test data.